<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squad Up</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <nav class="nav-bar">
            <a href="/">
                <div class="nav-link logo">
                    <h2>Squad Up</h2>
                </div>
            </a>
            <div class="nav-link-container">
                <a href="/">
                    <div class="nav-link">
                        <h2>Directory</h2>
                    </div>
                </a>
                <a href="/">
                    <div class="nav-link">
                        <h2>Resume Builder</h2>
                    </div>
                </a>
                <a href="/">
                    <div class="nav-link">
                        <h2>Message Center</h2>
                    </div>
                </a>
                <a href="/">
                    <div class="nav-link">
                        <h2>Account</h2>
                    </div>
                </a>

                <a id="logout-btn">
                    <div class=" nav-link">
                        <h2>Logout</h2>
                    </div>
                </a>

                <a href="/">
                    <div class=" nav-link">
                        <h2>Login</h2>
                    </div>
                </a>

            </div>
            <div class="hamburger-postioner">
                <input type="checkbox" id="hamburger">
                <label for="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </label>
            </div>
    </header>
    {{{body}}}
        <script src="/js/index.js"></script>
  </body>
</html>