<main class="login-main">
  <div class="login-container">
    <form id="login-form">
      <div class="custom-form-control">
        <label>Login</label>
      </div>
      <div class="custom-form-control">
        <label>Email:</label><br />
        <input type="text" id="email" />
      </div>
      <div class="custom-form-control">
        <label>Password:</label><br />
        <input type="password" id="password" />
      </div>
      <div class="custom-form-control">
        <input id="login-btn-pg" type="submit" value="Login" />
      </div>
      <div class="custom-form-control">
        <label><a href="/sign-up">Sign Up</a></label>
      </div>

    </form>
  </div>

</main>
<script src="./js/login.js"></script>