<main>
  <div class="new-post-container">
    <form id="new-post-form">
      <div class="custom-form-control">
        <label>New Post</label>
      </div>
      <div class="custom-form-control">
        <label>Title:</label><br />
        <input type="text" id="new-post-title" />
      </div>
      <div class="custom-form-control">
        <label>Header Image URL:</label><br />
        <input type="text" id="new-post-image-url" />
      </div>
      <div class="custom-form-control">
        <label>Teaser:</label><br />
        <input type="text" id="new-post-teaser" />
      </div>
      <div class="custom-form-control">
        <label>Content:</label><br />
        <textarea id="myCustomTextArea"></textarea>
      </div>
      <div class="custom-form-control">
        <input id="sign-up-btn-pg" type="submit" value="Post" />
      </div>

    </form>
  </div>
</main>
<script src="/js/new-post.js"></script>