    <main>
        <form class="pt-2" id="form">
            <div class="container-fluid row">
                <div class="col-lg-3 col-sm-4 col-6 text-center">
                    <label class= "text-decoration-underline text-black">First Name:</label> <br><br>
                    <label class= "text-decoration-underline text-black">Last Name:</label> <br><br>
                    <label class= "text-decoration-underline text-black" for="phone">Enter a phone number:</label><br>
                    <small class= "fst-italic">Format: 123-459-6278</small> <br><br>
                    <label class= "text-decoration-underline text-black" for="email">Enter your email:</label> <br><br>
                    <label class= "text-decoration-underline text-black">Current City/State:</label> <br><br>
                    
                </div>
                <div class="col-lg-8 col-sm-6 col-5">
                    <input required class= "border-black rounded-2" id='firstName' type= "text" placeholder="John"> <br><br>
                    <input required class= "border-black rounded-2" id="lastName" type="text" placeholder="Doe"> <br> <br>
                    <input required class= "border-black rounded-2" type="tel" id="phone" name="phone" placeholder="123-452-6728" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" > <br><br>
                    <input required class= "border-black rounded-2" type="email" id="email" name="email" placeholder="myEmail@email.com"> <br><br>
                    <input required class= "border-black rounded-2" type="text" id="location" placeholder="Philadelphia, PA"> <br><br>
                    <button class="btn btn-secondary btn-lg" id="send">Submit</button>
                </div>
            </div>
        </form>
        <div id="pdfButton">
        </div>
        
    </main>
    <script src="resume.js"></script>
