<main>
  <div class="login-container">
    <form id="sign-up-form">
      <div class="form-control">
        <label>Sign Up</label>
      </div>
      <div class="form-control">
        <label>Email:</label><br />
        <input type="text" id="email" />
      </div>
      <div class="form-control">
        <label>First Name:</label><br />
        <input type="text" id="firstName" />
      </div>
      <div class="form-control">
        <label>Last Name:</label><br />
        <input type="text" id="lastName" />
      </div>
      <div class="form-control">
        <label>Location:</label><br />
        <input type="text" id="location" />
      </div>
      <div class="form-control">
        <label>Short Bio:</label><br />
        <input type="text" id="bio" />
      </div>
      <div class="form-control">
        <label>Password:</label><br />
        <input type="password" id="password" />
      </div>
      <div class="form-control">
        <input type="submit" value="Sign Up" />
      </div>
      <div class="form-control">
        <label><a href="/login">Login</a></label>
      </div>

    </form>
  </div>

</main>
<script src="./js/signUp.js"></script>